html {
	background: #f5f5f5;
	font-family: sans-serif;
	color: #2d2d2d;
}

body {
	margin: 0;
}

.hide {
	display: none;
}

.wrap {
	margin: 50px auto 0 auto;
	max-width: 1200px;
}

.player {
	display: inline-block;
	width: 15%;
	text-align: center;
	margin: 0 5px;
} 

.divider {
	height: 35px;
}

.line-control {
	display: inline-block;
	cursor: pointer;
	margin: 0 5px;
}

.line-control-txt {
	text-align: center;
	border: 1px solid #3b5302;
	font-size: 1.5em;
	background: #8cbf16;
	padding: 0 20px;
	border-radius: 5px;
	display: block;
	color: #3b5302;
	line-height: 61px;
}

.line-control-txt:hover {
	box-shadow: 1px 0px 13px 0px rgba(0,0,0,0.13);
}

.line-stop {
	color: #4f0505;
	border: 1px solid #4f0505;
	background: #ff3535;
}

.watchdisplay {
	font-size: 1.5em;
	margin: 15px 0 0 0;
	background: white;
	width: 100%;
	line-height: 61px;
	display: block;
	border-radius: 5px;
	box-shadow: 1px 0px 13px 0px rgba(0,0,0,0.13);
}

.counter {
	float: right;
	transform: translateY(-21px);
	margin-right: 9px;
	color: #a4a4a4;
}

.key {
	font-family: courier, monospace;
	color: white;
	background-color: #b5b5b5;
	width: 20px;
	display: inline-block;
	height: 20px;
	font-size: 0.8em;
	line-height: 20px;
	border-radius: 2px;
	transform: translateY(-3px);
}

.key-line {
	color: white;
	font-family: courier, monospace;
	background-color: #b5b5b5;
	width: 20px;
	display: inline-block;
	height: 20px;
	font-size: 0.8em;
	line-height: 20px;
	border-radius: 2px;
	transform: translateY(-3px);
	text-align: center;
	margin: 0 0 14px 39px;
}

.hold {
  width: 13px;
  height: 13px;
  background: #ffdd00;
  border-radius: 10px;
  margin: 0px 2px 3px 18px;
	float: left;
	transform: translateY(-38px);
	box-shadow: 0px 0px 8px 5px rgba(255,221,0,0.3);
}

.blink {
  width: 13px;
  height: 13px;
  background: red;
  border-radius: 10px;
  margin: 0px 2px 3px 18px;
	float: left;
	transform: translateY(-38px);
	box-shadow: 0px 0px 8px 5px rgba(245,3,3,0.3);
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  -webkit-animation: blink .5s alternate infinite;
  -moz-animation: blink .5s alternate infinite;
  -ms-animation: blink .5s alternate infinite;
}


#key-bp {
	margin-left: 24px;
}

.ball-switch {
	color: #4f0505;
	border: 1px solid #4f0505;
	background: #ff3535;
}

#key-gb {
	margin-left: 91px;
}

#pause {
	margin-left: 113px;
	width: 206px;
}
