html {
	background: #f5f5f5;
	font-family: sans-serif;
	color: #2d2d2d;
}

body {
	margin: 0;
}

.player {
	display: inline-block;
	width: 16%;
	margin: 5px; 
	text-align: center;
} 

.divider {
	height: 40px;
}

.line-control {
	width: 5%;
	text-align: center;
	border: 1px solid #b2f70f;
	font-size: 1.5em;
	background: #f2ffd4;
	margin: 30px;
	padding: 21px 20px 17px 20px;
	border-radius: 5px;
	display: inline-block;
}
.watchdisplay {
	font-size: 1.5em;
	background: white;
	width: 100%;
	margin: 20px 0 0 0;
	padding: 21px 0 17px 0;
	display: block;
	border-radius: 5px;
	box-shadow: 1px 0px 13px 0px rgba(0,0,0,0.13);
}

.counter {
	float: right;
	transform: translateY(-21px);
	margin-right: 9px;
	color: #a4a4a4;
}

.key {
	color: white;
	background-color: #b5b5b5;
	width: 20px;
	display: inline-block;
	height: 20px;
	font-size: 0.8em;
	line-height: 19px;
	border-radius: 2px;
	transform: translateY(-3px);
}

.wrap {
	margin: 50px auto 0 auto;
	max-width: 1200px;
}

.blink {
  width: 13px;
  height: 13px;
  background: red;
  border-radius: 10px;
  margin: 0px 2px 3px 24px;
	float: left;
	transform: translateY(-38px);
	box-shadow: 0px 0px 8px 5px rgba(245,3,3,0.3);
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  -webkit-animation: blink 1s alternate infinite;
  -moz-animation: blink 1s alternate infinite;
  -ms-animation: blink 1s alternate infinite;
}

.button {
	font-size: 1.5em;
	background: #fff0f0;
	border: 1px solid red;
	margin: 30px;
	padding: 21px 20px 17px 20px;
	display: block;
	border-radius: 5px;
	box-shadow: 1px 0px 13px 0px rgba(0,0,0,0.13);
	display: inline-block;
	position: absolute;
	bottom: 0;
	text-align: center;
	color: red;
}

#break-key {
	font-size: 13px;
	transform: translateY(-4px);
	position: absolute;
	left: 73px;
	bottom: 100px;
	text-align: center;
}


.break {
	background: #ff4545;
	border: 1px solid red;
	color: white;
}
